#group{
    height: 80vh;
}
.lc-3ft2j8 {
    background-color: cornflowerblue;
    border-radius: 10px;
}
#chat-panel {
    margin-top: 5vh;
    height: calc(100vh - 30vh);
    overflow-y: auto;
}
.footer {
    height: 20vh;
}


