#chat-side{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.footer {
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 8px;
}
.header{
    max-height: 5vh;
}
.arrow-back{
    padding: 0;
}
.MuiIconButton-root{
    border-radius: 0;
}

.chat-panel{
    padding: 0;
    overflow-y: auto;
    margin-top: 5vh;
    height: auto;
    list-style: none;
    flex: 1;
}

.chat-panel li{
    display:inline-block;
    clear: both;
    padding: 8px 14px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 250px;
    border-radius: 20px;
    word-wrap: break-word;
}
.down-btn{
    border-radius: 20px;
    height: 40px;
    width: 40px;
    float: right;
    margin-bottom: 10px;
    background-color: lightpink;
    cursor: pointer;
    transition: transform .2s; /* Animation */

}
.down-btn:hover{
    transform: scale(1.15);
}
.ic{
    transition: transform .2s; /* Animation */
    cursor: pointer;
}
.ic:hover{
    transform: scale(1.15);
}
.him{
    background: lightskyblue;
    float: left;
}
.me {
    float: right;
    background: lightgreen;
}
.message-text{
    color: black;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}
.game-window{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

@media only screen and (max-height: 400px) {
    .header{
        max-height: 10vh;
        font-size: small;
    }
    .down-btn:hover {
        transform: none;
    }
    .ic:hover{
        transform: none;
    }
}