.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image:    url('https://i.pinimg.com/originals/f6/20/a1/f620a179ca1acfd15a0754701677fb58.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

.welcome-page{
    height: 100vh;
    overflow-y: auto;
}