body{
  overflow: hidden;
  background-color: azure;
}
.row{
  height: 100vh;
}
.left-side {
  margin: 0;
  background-image: url("https://miro.medium.com/max/1280/1*9WeJrBj6pp-qnGjRGg2NUw.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.left-content{
  height: 100vh;
  overflow-y: auto;
}
.right-side {
  border-left: 4px outset #343a40;
  background: rgba(0,0,0,0.7);

}
#btn-sett{
  cursor: pointer;
}
#btn-sett :hover {
   fill: darkslateblue;
}
.chat {
  height:70vh;
}
.lc-1j8di50 {
  border: 2px solid black !important;
  margin: 2px;
  background-color: lightgrey !important;
}

#idle-msg{
  color: white;
  background-color: #1b1e21;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(251, 255, 253, 0);
}

