body{
  overflow: hidden;
  background-color: azure;
}
.row{
  height: 100vh;
}
.left-side {
  margin: 0;
}
.left-content{
  height: 100vh;
  overflow-y: auto;
}
.right-side {
  border-left: 4px outset black;

}
#btn-sett{
  cursor: pointer;
}
#btn-sett :hover {
   fill: darkslateblue;
}
.chat {
  height:70vh;
}
.lc-1j8di50 {
  border: 2px solid black !important;
  margin: 2px;
  background-color: lightgrey!important;
}
#idle-msg{
  color: white;
  background-color: #1b1e21;
}
