
body{
  overflow: hidden;
}
.row{
  height: 100vh;
}
.left-side {
  background-color: green;
  color: blue;
  margin: 0;
}
.left-content{
  overflow-y: auto;
}
.right-side {
  background-color: red;
  color: red;
}
#btn-sett{
  cursor: pointer;
}
#btn-sett :hover {
   fill: antiquewhite;
}

