.app-name{
    font-family: 'Shadows Into Light', cursive;
    overflow: no-display;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.settings-ext {
    background-size: cover;
    background: linear-gradient(-45deg, lightsalmon, lightpink, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}